[submodule "ButOSX/Thirdparty/imgui"]
	path = ButOSX/Thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "ButOSX/Thirdparty/xorstr"]
	path = ButOSX/Thirdparty/xorstr
	url = https://github.com/qis/xorstr
[submodule "ButOSX/Thirdparty/SDL2"]
	path = ButOSX/Thirdparty/SDL2
	url = https://github.com/spurious/SDL-mirror
[submodule "ButOSX/Thirdparty/NSTouchbarAPI"]
	path = ButOSX/Thirdparty/NSTouchbarAPI
	url = https://github.com/xMuratY/TouchBar-ObjectiveC
